.DS_Store
.vscode/
.idea/

venv/
.env/
env/

__pycache__/
*.py[cod]
*$py.class

models/*
!models/.gitkeep
!models/production_model.txt
!models/quantized_model.txt

*.sqlite3
*.db
/venv
.venv

mlruns/
.ipynb_checkpoints/

.dvc/cache


# Ignore everything inside artifacts
artifacts/*
!artifacts/evaluation/!artifacts/feedback/
!artifacts/feedback/**
!artifacts/feedback/
!artifacts/feedback/**
!artifacts/evaluation/**
!artifacts/data_report.json